@use "base" as *;
@use "components" as *;

body {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  height: 100vh;

  background-color: var(--color-neutral-900);
}
