@use "../base/color" as *;

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.25em 0.75em;
  border-radius: 0.25rem;
  min-width: 10ch;
  min-height: 44px;
  font-family: inherit;
  font-size: 1.15rem;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  line-height: 1;
  color: hsl(220, 17%, 20%);
  border: 2px solid transparent;
  cursor: pointer;

  &:focus:active {
    scale: 0.95;
  }
  &--primary {
    background-color: $primary;
  }
  &--primary:hover {
    background-color: $primary-hover;
  }
  &:focus:active {
    scale: 0.95;
  }
  &--primary {
    background-color: $primary;
  }
  &--primary:hover {
    background-color: $primary-hover;
  }
  &--alert {
    background-color: $alert;
  }
  &--alert:hover {
    background-color: $alert-hover;
  }
  &--warning {
    background-color: $warning;
  }
  &--warning:hover {
    background-color: $warning-hover;
  }
  &--error {
    background-color: $error;
  }
  &--error:hover {
    background-color: $error-hover;
  }
}
