@use "base" as *;
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

//list
$sizes: 8px, 20px, 36px;

$weight: 400, 700;

$font-sizes: (
  "900": 60px,
  "800": 48px,
  "700": 27px,
  "600": 24px,
  "400": 18px,
);

$colors: (
  neutral: (
    "100": #fff,
    "900": #1f3049,
  ),

  primary: (
    "400": #0066ff,
  ),
);
$lz-police: '"Open-Sans", sans-serif';

:root {
  @each $name, $color in $colors {
    @each $shade, $value in $color {
      --color-#{$name}-#{$shade}: #{$value};
    }
  }

  @each $name, $size in $font-sizes {
    --fs-#{$name}: #{$size};
  }

  @each $size in $sizes {
    --size-#{$size}: #{$size};
  }

  @each $w in $weight {
    --fw-#{$w}: #{$w};
  }

  --ff-sans: #{$lz-police};
}

body {
  background-color: var(--color-neutral-900);
}

.pricing-plan {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60%;
  gap: 1rem;
  padding: 1rem;
  background-color: var(--color-neutral-100);
  border: solid 5px var(--color-primary-400);
  &__title {
    font-size: var(--fs-700);
    font-weight: var(--fw-700);
    color: var(--color-primary-400);
    text-transform: uppercase;
    text-align: center;
  }
  &__features {
    list-style: none;
  }
  &__feature {
    margin: 1rem;
    font-size: var(--fs-400);
    font-weight: var(--fw-400);
    text-align: center;
  }
  &__cta-button {
    margin: 1rem;
    text-decoration: none;
    padding: 0.75rem;
    font-size: var(--fs-400);
    font-weight: var(--fw-400);
    color: var(--color-neutral-100);
    background-color: var(--color-primary-400);
    border: none;
    border-radius: var(--size-8);
  }
}
